<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   Auth0.plist
   InAppChat-Example

   Created by Zaid Daghestani on 5/3/23.
   Copyright (c) 2023 ___ORGANIZATIONNAME___. All rights reserved.
-->
<plist version="1.0">
   <?xml version="1.0" encoding="UTF-8"?>
   <dict>
      <key>ClientId</key>
      <string>{yourClientId}</string>
      <key>Domain</key>
      <string>{yourDomain}</string>
   </dict>
</plist>
