<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>842327327148-9mh8npa3uke06p4do9n2t3u2ln5paec9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.842327327148-9mh8npa3uke06p4do9n2t3u2ln5paec9</string>
	<key>API_KEY</key>
	<string>AIzaSyAfrLsOC2szpB1b_3fRPHavwzxnWh_Qv-0</string>
	<key>GCM_SENDER_ID</key>
	<string>842327327148</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.inappchat.sample</string>
	<key>PROJECT_ID</key>
	<string>fir-app-11345</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-app-11345.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:842327327148:ios:fd130498a3f057cecfba09</string>
</dict>
</plist>